---
title: "Blue - Notification email template"
preheader: "Design your Email Templates without writing a line of code."
bodyClass: bg-white
---

<x-main>
  <fill:template>
    <div class="bg-white font-Barlow">
      <table align="center" class="sm:px-4">
        <tr>
          <td class="w-[640px] max-w-full">
            <table class="w-full">
              <tr>
                <td class="text-center">
                  <x-logo></x-logo>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="header-1.jpg" class="w-full" width="640" alt="Hero">
                </td>
              </tr>
              <tr>
                <td class="w-full px-7.5 py-10 sm:px-0">
                  <table class="w-full">
                    <tr>
                      <td class="text-center">
                        <x-subtitle>THANKS FOR JOINING US</x-subtitle>
                        <x-h1-headline>Welcome aboard!</x-h1-headline>
                        <x-paragraph>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi accus antium iste natus.</x-paragraph>
                        <x-button href="https://example.com">
                          GET STARTED NOW!
                        </x-button>
                        <x-button href="https://example.com">
                          2ND BUTTON
                        </x-button>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="leading-10">&zwj;</td>
              </tr>
              <tr>
                <td class="text-center">
                  <h2 class="m-0 font-Barlow text-4xl leading-11 font-bold text-black_222">What's next</h2>
                </td>
              </tr>
              <tr>
                <td class="leading-8">&zwj;</td>
              </tr>
              <tr>
                <td>
                  <table class="w-8/12 sm:w-full" align="center">
                    <tr>
                      <td class="w-1/3 pr-4 sm:px-0 sm:pb-7 sm:w-full sm:inline-block" valign="top" align="center
                      ">
                        <img src="project-1.jpg" class="w-full rounded-full sm:w-8/12" width="160" alt="project-1">
                      </td>
                      <td class="w-2/3 sm:w-full sm:inline-block sm:text-center">
                        <h3 class="mt-0 mb-2 font-Barlow text-lg leading-6 font-bold text-malibu">Create your Project</h3>
                        <p class="mt-0 mb-5 font-Barlow text-sm leading-6 font-normal text-black_333">
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi accus antium iste natus.
                        </p>
                        <x-button-underline href="https://example.com">
                          LEARN MORE
                        </x-button>
                      </td>
                    </tr>
                    <tr>
                      <td class="leading-14">&zwj;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table class="w-8/12 sm:w-full" align="center">
                    <tr>
                      <td class="w-1/3 pr-4 sm:px-0 sm:pb-7 sm:w-full sm:inline-block" valign="top" align="center
                      ">
                        <img src="project-2.jpg" class="w-full rounded-full sm:w-8/12" width="160" alt="project-2">
                      </td>
                      <td class="w-2/3 sm:w-full sm:inline-block sm:text-center">
                        <h3 class="mt-0 mb-2 font-Barlow text-lg leading-6 font-bold text-malibu">Wait for approval</h3>
                        <p class="mt-0 mb-5 font-Barlow text-sm leading-6 font-normal text-black_333">
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi accus antium iste natus.
                        </p>
                        <x-button-underline href="https://example.com">
                          LEARN MORE
                        </x-button>
                      </td>
                    </tr>
                    <tr>
                      <td class="leading-14">&zwj;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table class="w-8/12 sm:w-full" align="center">
                    <tr>
                      <td class="w-1/3 pr-4 sm:px-0 sm:pb-7 sm:w-full sm:inline-block" valign="top" align="center
                      ">
                        <img src="project-3.jpg" class="w-full rounded-full sm:w-8/12" width="160" alt="project-3">
                      </td>
                      <td class="w-2/3 sm:w-full sm:inline-block sm:text-center">
                        <h3 class="mt-0 mb-2 font-Barlow text-lg leading-6 font-bold text-malibu">Share your idea!</h3>
                        <p class="mt-0 mb-5 font-Barlow text-sm leading-6 font-normal text-black_333">
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi accus antium iste natus.
                        </p>
                        <x-button-underline href="https://example.com">
                          LEARN MORE
                        </x-button>
                      </td>
                    </tr>
                    <tr>
                      <td class="leading-14">&zwj;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <x-button href="https://example.com">
                    Tutorials & Tips
                  </x-button>
                </td>
              </tr>
              <tr>
                <td class="leading-14">&zwj;</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <x-footer></x-footer>
    </div>
  </fill:template>
</x-main>
